*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
}
body{
    background-image: url(guitarimg.jpg);
}
.logo{
    background: none;
}
.spotify-link{
    background: none;
    text-decoration: none;
    display: inline-flex;
    font-size: 60px;
    background-blend-mode: normal;
    padding-right: 100px;
    color: black;
}
.menu{
    display: inline-flex;    
}
.listitem{
    display: inline;
    padding: 30px;
    text-decoration: none;
    
}
#premium{
    padding-left: 400px;
}
a:link{
    color:bisque;
    text-decoration: none;
}
a:visited{
    color:olive;
}
a:hover{
    color:black;
    transition: 0.5s;
}
.descrip{
    font-size: 50px;
    padding-top: 200px;
    padding-left: 200px;
}
.signupbtn{
    margin: 200px;
    background-color:burlywood;
    padding: 10px;
    border-radius: 25px;
}
.smol-descrip{
    font-size: 20px;
}
